:root {
  --blue: #429ebf;
  --pink: #bd8592;
  --beige: #f6f4ee;
  --dark-beige: #e4dac1;
  --gold: #cab98b;
}

** {
  background-color: var(--beige);
  scroll-behavior: smooth;
  font-family: courier new;
  cursor: pointer;
}

header, h1, nav  {
  background-color: var(--blue);
  font-family: sans-seriff;
  text-align: center;
  font-weight: 900; 
  width: 100%;
  position: relative;
  z-index: 0;
}

h1 {
  font-size: 3em;
  padding-bottom: 1em;
  padding-top: 1.6em;
  text-shadow: 2px 2px 5px var(--biege);
}

nav {
  background-color: var(--blue);
  text-align: center;
  font-size: 2em;
  font-weight: 600; 
  z-index: 1;
  padding: 0.8rem;
  letter-spacing: 0.2em;
  width: 100%;
  left: 0;
}

.nav-link { 
  background-color: var(--blue);
  text-align: justify;
  color: var(--beige_;
}

.nav-link:visited {
  color: var(--dark-beige);
}

.nav-link:hover {
  color: var(--gold);
  font-size: 2.5em;
  cursor: grabbing;
}

hr {
  color: var(--pink);
}

h3 {
  background-color: var(--blue);
  color: var(--beige);
}

p {
  color: var(--gold);
}


  
