:root {
  --blue: #429ebf;
  --pink: #bd8592;
  --beige: #f6f4ee;
  --dark-beige: #e4dac1;
  --gold: #cab98b;
}

** {
  background-color: var(--beige);
  scroll-behavior: smooth;
  font-family: courier new;
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  place-items: center;
  text-align: justify;
  padding: 10px;
  background-color: var(--blue);
  color: var(--beige);
  width: 100%;
}

#profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

#header-text {
  display: grid;
  grid-auto-flow: column;
  color: var(--beige);
}

h1 {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 900; 
  font-size: 3em;
}

h2, #summary {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 1em; 
}

#nav-bar {
  background-color: var(--blue);
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  font-size: 0.75em;
  padding: 0.8rem;
  width: 100%;
  left: 0;
  top: 0;
  place-content: 0.1rem;
}

.nav-link { 
  background-color: var(--blue);
  text-align: justify;
  color: var(--beige_);
}

.nav-link:visited {
  color: var(--dark-beige);
}

.nav-link:hover {
  color: var(--gold);
  font-size: 2.5em;
  cursor: grabbing;
}

hr {
  color: var(--pink);
}

h3 {
  background-color: var(--blue);
  color: var(--beige);
}

p, li {
  color: var(--gold);
}


  
